PUID="{{ ansible_facts.user_uid }}"
PGID="{{ ansible_facts.user_gid }}"

SECRET_KEY_BASE="{{ manyfold_secret_key_base }}"

DATABASE_ADAPTER=postgresql
DATABASE_HOST=db
DATABASE_NAME="$PG_DATABASE"
DATABASE_USER="$PG_USER"
DATABASE_PASSWORD="$PG_PASS"

REDIS_URL=redis://cache:6379/1

MULTIUSER=enabled
PUBLIC_HOSTNAME=manyfold.{{ hostname }}
HTTPS_ONLY=enabled
OIDC_CLIENT_ID=manyfold
OIDC_CLIENT_SECRET="{{ manyfold_oidc_secret }}"
# OIDC_ISSUER="https://auth.{{ groups['core'][0] }}.{{ domain }}/.well-known/openid-configuration"
OIDC_ISSUER="https://auth.{{ groups['core'][0] }}.{{ domain }}"
OIDC_NAME=Authelia
# FORCE_OIDC=enabled
