[Unit]
Description=Backup timer %i

[Timer]
Unit=backup@%i.service
Persistent=false
OnCalendar=*-*-* 06:00:00
RandomizedDelaySec=600

[Install]
WantedBy=default.target
