USERMAP_UID="{{ ansible_facts.user_uid }}"
USERMAP_GID="{{ ansible_facts.user_gid }}"
# Redis
PAPERLESS_REDIS=redis://cache:6379
# Database
PAPERLESS_DBENGINE=postgresql
PAPERLESS_DBHOST=db
PAPERLESS_DBNAME=$PG_DATABASE
PAPERLESS_DBUSER=$PG_USER
PAPERLESS_DBPASS_FILE=/run/secrets/db_pass
# Tika
PAPERLESS_TIKA_ENABLED=1
PAPERLESS_TIKA_ENDPOINT=http://tika:9998
PAPERLESS_TIKA_GOTENBERG_ENDPOINT=http://gotenberg:3000
# Admin user
PAPERLESS_ADMIN_USER="{{ paperless_admin_user }}"
PAPERLESS_ADMIN_MAIL="{{ paperless_admin_user }}@{{ domain }}"
PAPERLESS_ADMIN_PASSWORD_FILE=/run/secrets/admin_pass
# Settings
PAPERLESS_SECRET_KEY_FILE=/run/secrets/secret_key
PAPERLESS_URL=https://paperless.$HOSTNAME
PAPERLESS_TIMEZONE=$TZ
PAPERLESS_OCR_LANGUAGE="{{ paperless_ocr_language }}"
PAPERLESS_OCR_LANGUAGES="{{ paperless_additional_ocr_languages }}"
PAPERLESS_OCR_USER_ARGS="{{ paperless_ocr_user_args | to_json | replace('\"', '\\\"') }}"
PAPERLESS_USE_X_FORWARD_HOST=true
PAPERLESS_USE_X_FORWARD_PORT=true
# Authelia
PAPERLESS_APPS=allauth.socialaccount.providers.openid_connect
PAPERLESS_SOCIALACCOUNT_PROVIDERS_FILE=/run/secrets/socialaccount_providers
