#!/usr/bin/env bash

set -euo pipefail

BACKUP_PATH="{{ backup_path }}"
DEPLOY_PATH="{{ deploy_path }}"
export COMPOSE_FILE="$DEPLOY_PATH/wud/compose.yml"

function backup {
  rsync -a "$DEPLOY_PATH/wud" "$BACKUP_PATH" && echo "synced files to backup path"
}

function restore {
  rsync -a "$BACKUP_PATH/wud" "$DEPLOY_PATH" && echo "synced files to deploy path"
  docker compose up -d && echo "started wud"
}

if [[ ${1:-backup} == restore ]]; then
  restore
else
  backup
fi

# vi ft=bash
