TZ={{ timezone }}

{% for host in groups['base'] %}
WUD_WATCHER_{{ host }}_HOST={{ host }}.{{ domain }}
WUD_WATCHER_{{ host }}_WATCHBYDEFAULT=false
WUD_WATCHER_{{ host }}_CRON={{ wud_cron_schedule }}
{% endfor %}

WUD_TRIGGER_NTFY_ntfy_TOPIC=wud
WUD_TRIGGER_NTFY_ntfy_URL=https://ntfy.{{ groups['ntfy'][0] }}.{{ domain }}
WUD_TRIGGER_NTFY_ntfy_MODE=batch
WUD_TRIGGER_NTFY_ntfy_ONCE=false
