default-endpoint: &defaults
  interval: 5m
  client:
    timeout: 30s
  conditions:
    - "[STATUS] < 400"
    - "[RESPONSE_TIME] < 300"
    - "[CERTIFICATE_EXPIRATION] > 21d"
  alerts:
    - type: ntfy
{% if gatus_discord_webhook | length > 0 %}
    - type: discord
{% endif %}

connectivity:
  checker:
    target: 1.1.1.1:53
    interval: 5m

storage:
  type: postgres
  path: postgres://{{ gatus_db_user }}:{{ gatus_db_password }}@gatus-db:5432/{{ gatus_db_name }}?sslmode=disable
  caching: true

ui:
  title: Gatus @ {{ hostname }}
  header: Gatus @ {{ hostname }}

alerting:
  ntfy:
    topic: alerts
    url: https://ntfy.{{ core_hostname }}
    priority: 1
    default-alert:
      failure-threshold: 3
      send-on-resolved: true
{% if gatus_discord_webhook | length > 0 %}
  discord:
    webhook-url: "{{ gatus_discord_webhook }}"
    title: "@everyone :sos: gatus"
    default-alert:
      failure-threshold: 3
      send-on-resolved: true
{% endif %}

endpoints:
{% if 'gatus' in gatus_roles %}
# Gatus
{% for host in groups['gatus'] | intersect(groups[deployment_env]) | sort %} 
  - name: gatus @ {{ host }}
    group: gatus
    url: https://gatus.{{ host }}.{{ domain }}
    <<: *defaults
{% endfor %}
{% endif %}

{% if 'adguardhome' in gatus_roles %}
# Adguardhome Web
{% for host in groups['adguardhome'] | intersect(groups[deployment_env]) | sort %} 
  - name: adguardhome @ {{ host }}
    group: adguardhome
    url: https://adguardhome.{{ host }}.{{ domain }}
    <<: *defaults
{% endfor %}

# Adguardhome DNS
{% for host in groups['adguardhome'] | intersect(groups[deployment_env]) | difference([ansible_host]) | sort %} 
  - name: dns @ {{ host }}
    group: dns
    url: "{{ host }}.{{ domain }}"
    dns:
      query-name: "{{ ansible_host }}.{{ domain }}"
      query-type: A
    conditions:
      - "[BODY] == {{ ansible_default_ipv4.address }}"
      - "[DNS_RCODE] == NOERROR"
    alerts:
      - type: ntfy
        description: dns resolution failed for host {{ host }}.{{ domain }}
{% endfor %}
{% endif %}

{% if 'base' in gatus_roles %}
# Base
{% for host in groups['base'] | intersect(groups[deployment_env]) | sort %} 
  - name: traefik @ {{ host }}
    group: base
    url: https://traefik.{{ host }}.{{ domain }}
    <<: *defaults

  - name: promtail @ {{ host }}
    group: base
    url: https://promtail.{{ host }}.{{ domain }}
    <<: *defaults

  - name: docker-metrics @ {{ host }}
    group: base
    url: https://docker.{{ host }}.{{ domain }}/metrics
    <<: *defaults

  - name: node-metrics @ {{ host }}
    group: base
    url: https://node.{{ host }}.{{ domain }}/metrics
    <<: *defaults

  - name: docker-api @ {{ host }}
    group: base
    url: tcp://{{ host }}.{{ domain }}:2375
    <<: *defaults
    conditions:
      - "[CONNECTED] == true"
{% endfor %}
{% endif %}

{% if 'core' in gatus_roles %}
# Core apps
{% for host in groups['core'] | intersect(groups[deployment_env]) | sort %} 
  - name: ntfy @ {{ host }}
    group: core
    url: https://ntfy.{{ host }}.{{ domain }}
    <<: *defaults

  - name: homepage @ {{ host }}
    group: core
    url: https://home.{{ host }}.{{ domain }}
    <<: *defaults

  - name: lldap @ {{ host }}
    group: core
    url: https://lldap.{{ host }}.{{ domain }}
    <<: *defaults

  - name: authelia @ {{ host }}
    group: core
    url: https://auth.{{ host }}.{{ domain }}
    <<: *defaults

  - name: portainer @ {{ host }}
    group: core
    url: https://portainer.{{ host }}.{{ domain }}
    <<: *defaults
{% endfor %}
{% endif %}

{% if 'monitoring' in gatus_roles %}
# Monitoring
{% for host in groups['monitoring'] | intersect(groups[deployment_env]) | sort %} 
  - name: grafana @ {{ host }}
    group: monitoring
    url: https://grafana.{{ host }}.{{ domain }}
    <<: *defaults

  - name: prometheus @ {{ host }}
    group: monitoring
    url: https://prometheus.{{ host }}.{{ domain }}
    <<: *defaults
{% endfor %}
{% endif %}

{% if 'mealie' in gatus_roles %}
# Mealie
{% for host in groups['mealie'] | intersect(groups[deployment_env]) | sort %} 
  - name: mealie @ {{ host }}
    group: apps
    url: https://mealie.{{ host }}.{{ domain }}
    <<: *defaults
{% endfor %}
{% endif %}

{% if 'memos' in gatus_roles %}
# Memos
{% for host in groups['memos'] | intersect(groups[deployment_env]) | sort %} 
  - name: memos @ {{ host }}
    group: apps
    url: https://memos.{{ host }}.{{ domain }}
    <<: *defaults
{% endfor %}
{% endif %}

{% if 'vaultwarden' in gatus_roles %}
# Vaultwarden
{% for host in groups['vaultwarden'] | intersect(groups[deployment_env]) | sort %}
  - name: vaultwarden @ {{ host }}
    group: apps
    url: https://vaultwarden.{{ host }}.{{ domain }}
    <<: *defaults
{% endfor %}
{% endif %}

{% if 'vikunja' in gatus_roles %}
# Vikunja
{% for host in groups['vikunja'] | intersect(groups[deployment_env]) | sort %} 
  - name: vikunja @ {{ host }}
    group: apps
    url: https://vikunja.{{ host }}.{{ domain }}
    <<: *defaults
{% endfor %}
{% endif %}

# Custom
{% for mon in gatus_custom_monitors %}
  - <<: *defaults
    {{ mon | to_nice_yaml | indent(4, False) }}
{% endfor %}

# vim: ft=jinja2.yaml
