---
app:
  name: "{{ ansible_hostname }}"
  groups: [ "{{ core_simplydash_groups | join('", "') }}" ]

providers:
  docker:
{% for host in core_simplydash_hosts %}
    {{ host }}:
      host: http://{{ host }}.{{ domain }}:2375
      timeout: 10s
      interval: 1m
{% endfor %}
