#!/usr/bin/env bash
set -eou pipefail

BACKUP_PATH="{{ backup_path }}"
DEPLOY_PATH="{{ deploy_path }}"
export COMPOSE_FILE="$DEPLOY_PATH/mealie/compose.yml"

function backup {
  echo "stopping mealie"
  docker compose down

  echo "copying data files"
  rsync -a "$DEPLOY_PATH/mealie" "$BACKUP_PATH"

  echo "starting mealie"
  docker compose up -d
}

function restore {
  echo "ensure mealie is down"
  [ -f "$COMPOSE_FILE" ] && docker compose down

  echo "copying data files"
  rsync -a "$BACKUP_PATH/mealie" "$DEPLOY_PATH"

  echo "starting mealie"
  docker compose up -d
}

if [[ ${1-backup} == restore ]]; then
  restore
else
  backup
fi

# vi ft=bash
