#!/usr/bin/env bash

set -euo pipefail

BACKUP_PATH="{{ backup_path }}"
DEPLOY_PATH="{{ deploy_path }}"
export COMPOSE_FILE="$DEPLOY_PATH/adguardhome/compose.yml"

function backup {
  docker compose down && echo "stopped adguardhome"
  rsync -a "$DEPLOY_PATH/adguardhome" "$BACKUP_PATH" && echo "synced files to backup path"
  docker compose up -d && echo "started adguardhome"
}

function restore {
  [ -f "$COMPOSE_FILE" ] && docker compose down && echo "stopped adguardhome"
  rsync -a "$BACKUP_PATH/adguardhome" "$DEPLOY_PATH" && echo "synced files to deploy path"
  docker compose up -d && echo "started adguardhome"
}

if [[ ${1:-backup} == restore ]]; then
  restore
else
  backup
fi
