TZ={{ timezone }}
DIUN_WATCH_SCHEDULE={{ base_config.diun.schedule }}
DIUN_PROVIDERS_DOCKER_ENDPOINT=unix:///var/run/docker.sock
DIUN_PROVIDERS_DOCKER_WATCHBYDEFAULT=true
{% for notif_env in base_config.diun.notifications | dict2items %}
{{ notif_env.key }}={{ notif_env.value }}
{% endfor %}
